<head>
  <title>Game Box</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Game Box Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

  <!-- Styles -->
  <link href="/site/css/bootstrap.css" rel='stylesheet' type='text/css' />
  <link href="/site/css/bootstrap-social.css" rel="stylesheet" >
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="/site/css/style.css" rel='stylesheet' type='text/css' />
  <link href="/site/css/my_custom.css" rel='stylesheet' type='text/css'/>

  <!-- Scripts -->
  <script type="application/x-javascript">
    addEventListener("load", function() {
      setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>

  <script src="/site/js/jquery.min.js"></script>
  <script src="/site/js/bootstrap.js"></script>
</head>