<%- contentFor('main_content') %>
<% include ../_widgets/site/banner %>

<div class="contact">
  <div class="container">
    <div class="contact-head">
      <h2>Contact</h2>
      <form>
        <div class="col-md-6 contact-left">
          <input type="text" class="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
          <input type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
          <input type="text" class="text" value="Phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}">
        </div>
        <div class="col-md-6 contact-right">
          <textarea value="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
          <input type="submit" value="SEND" />
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
    <div class="contact-map">
      <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBejgyRXYpMxBlxoL-x8CHk548suaCCxk4&q=Ho+Chi+Minh+City+University+of+Technology"
        frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="address">
      <h3>Our Locations</h3>
      <div class="locations">
        <ul>
          <li>
            <span></span>
          </li>
          <li>
            <div class="address-info">
              <h4>New York, Washington</h4>
              <p>10-765 MD-Road</p>
              <p>Washington, DC, United States,</p>
              <p>Phone: 123 456 7890</p>
              <p>Mail:
                <a href="mailto:info@example.com">info(at)example.com</a>
              </p>
              <h5>
                <a href="">Visit on Google Maps >></a>
              </h5>
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <span></span>
          </li>
          <li>
            <div class="address-info">
              <h4>London, UK</h4>
              <p>10-765 MD-Road</p>
              <p>Lorem ipsum, domon sit, UK,</p>
              <p>Phone: 123 456 7890</p>
              <p>Mail:
                <a href="mailto:info@example.com">info(at)example.com</a>
              </p>
              <h5>
                <a href="">Visit on Google Maps >></a>
              </h5>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>