<%- contentFor('main_content') %>
<% include ../_widgets/site/banner %>

<link rel="stylesheet" href="/site/css/lightbox.css">
<div class="gallery">
  <div class="container">
    <h2>Gallery</h2>
    <div class="gallery-bottom">
      <div class="gallery-1">
        <div class="col-md-3 gallery-grid">
          <a class="example-image-link" href="/site/images/r4.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
            <img class="example-image" src="/site/images/r4.jpg" alt="" />
          </a>
        </div>
        <div class="col-md-3 gallery-grid">
          <a class="example-image-link" href="/site/images/gl7.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
            <img class="example-image" src="/site/images/gl7.jpg" alt="" />
          </a>
        </div>
        <div class="col-md-3 gallery-grid">
          <a class="example-image-link" href="/site/images/gl4.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
            <img class="example-image" src="/site/images/gl4.jpg" alt="" />
          </a>
        </div>
        <div class="col-md-3 gallery-grid">
          <a class="example-image-link" href="/site/images/gl5.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
            <img class="example-image" src="/site/images/gl5.jpg" alt="" />
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="gallery-1">
        <div class="col-md-3 gallery-grid">
          <a class="example-image-link" href="/site/images/gl6.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
            <img class="example-image" src="/site/images/gl6.jpg" alt="" />
          </a>
        </div>
        <div class="col-md-3 gallery-grid">
          <a class="example-image-link" href="/site/images/gl2.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
            <img class="example-image" src="/site/images/gl2.jpg" alt="" />
          </a>
        </div>
        <div class="col-md-3 gallery-grid">
          <a class="example-image-link" href="/site/images/r6.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
            <img class="example-image" src="/site/images/r6.jpg" alt="" />
          </a>
        </div>
        <div class="col-md-3 gallery-grid">
          <a class="example-image-link" href="/site/images/gl7.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
            <img class="example-image" src="/site/images/gl7.jpg" alt="" />
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="gallery-1">
        <div class="col-md-3 gallery-grid">
          <a class="example-image-link" href="/site/images/gl4.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
            <img class="example-image" src="/site/images/gl4.jpg" alt="" />
          </a>
        </div>
        <div class="col-md-3 gallery-grid">
          <a class="example-image-link" href="/site/images/r3.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
            <img class="example-image" src="/site/images/r3.jpg" alt="" />
          </a>
        </div>
        <div class="col-md-3 gallery-grid">
          <a class="example-image-link" href="/site/images/r4.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
            <img class="example-image" src="/site/images/r4.jpg" alt="" />
          </a>
        </div>
        <div class="col-md-3 gallery-grid">
          <a class="example-image-link" href="/site/images/gl11.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
            <img class="example-image" src="/site/images/gl11.jpg" alt="" />
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<script src="/site/js/lightbox-plus-jquery.min.js"></script>