<%- contentFor('main_content') %>
<% include ../_widgets/site/banner %>

<div class="review">
  <div class="container">
    <h2>Reviews</h2>
    <% for (var i=0; i<3; i++) { %>
      <div class="review-md1">
        <% for (var j=1; j<4; j++) { %>
          <div class="col-md-4 sed-md">
            <div class=" col-1">
              <a href="/detail/1">
                <img class="img-responsive" src="/site/images/re<%= i*3 + j %>.jpg" alt="">
              </a>
              <h4>
                <a href="/detail/1">Sed ut perspiciatis unde omnis</a>
              </h4>
              <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
            </div>
          </div>
          <% } %>
          <div class="clearfix"></div>
      </div>
      <% } %>
  </div>
</div>