<div class="slider">
  <div class="callbacks_container">
    <ul class="rslides" id="slider">
      <div class="slid banner1">
        <div class="caption">
          <h3>Donec id diam nec ex luctus congue nec sed mi.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec pellentesque ex. Morbi iaculis mi in varius
            auctor. Nullam feugiat erat ex, eu vehicula velit efficitur non.</p>
        </div>
      </div>
      <div class="slid banner2">
        <div class="caption">
          <h3>Pellentesque eu ante quis elit interdum cursus.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec pellentesque ex. Morbi iaculis mi in varius
            auctor. Nullam feugiat erat ex, eu vehicula velit efficitur non.</p>
        </div>
      </div>
      <div class="slid banner3">
        <div class="caption">
          <h3>Fusce id urna ut felis feugiat fringilla sed quis nisl.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec pellentesque ex. Morbi iaculis mi in varius
            auctor. Nullam feugiat erat ex, eu vehicula velit efficitur non.</p>
        </div>
      </div>
    </ul>
  </div>
</div>

<!-- Slider-starts-Here -->
<script src="/site/js/responsiveslides.min.js"></script>
<script>
$(function() {
  $("#slider").responsiveSlides({
    auto: true,
    nav: false,
    speed: 500,
    namespace: "callbacks",
    pager: true,
  });
});
</script>