<div class="content">
  <div class="container">
    <div class="top-games">
      <h3>Top Games</h3>
      <span></span>
    </div>
    <div class="top-game-grids">
      <ul id="flexiselDemo1">
        <li>
          <div class="game-grid">
            <h4>Action Games</h4>
            <p>Nulla elementum nunc tempus.</p>
            <img src="/site/images/t1.jpg" class="img-responsive" alt="" />
          </div>
        </li>
        <li>
          <div class="game-grid">
            <h4>Racing Games</h4>
            <p>Nulla elementum nunc tempus.</p>
            <img src="/site/images/t3.jpg" class="img-responsive" alt="" />
          </div>
        </li>
        <li>
          <div class="game-grid">
            <h4>3D Games</h4>
            <p>Nulla elementum nunc tempus.</p>
            <img src="/site/images/t4.jpg" class="img-responsive" alt="" />
          </div>
        </li>
        <li>
          <div class="game-grid">
            <h4>Arcade Games</h4>
            <p>Nulla elementum nunc tempus.</p>
            <img src="/site/images/t2.jpg" class="img-responsive" alt="" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript">
$(window).load(function () {
  $("#flexiselDemo1").flexisel({
    visibleItems: 4,
    animationSpeed: 1000,
    autoPlay: true,
    autoPlaySpeed: 3000,
    pauseOnHover: true,
    enableResponsiveBreakpoints: true,
    responsiveBreakpoints: {
      portrait: {
        changePoint: 480,
        visibleItems: 1
      },
      landscape: {
        changePoint: 640,
        visibleItems: 2
      },
      tablet: {
        changePoint: 768,
        visibleItems: 3
      }
    }
  });
});
</script>
<script type="text/javascript" src="/site/js/jquery.flexisel.js"></script>