<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<!-- Head -->
<% include ../_widgets/site/head %>

<body>
<!-- Header -->
<% include ../_widgets/site/header %>

<!-- Main content -->
<%- defineContent('main_content') %>

<!-- Footer -->
<% include ../_widgets/site/footer %>
</body>

</html>