.notfoundpanel {
    text-align: center;
    margin: 80px auto 80px auto;
    position: relative;
}
.notfoundpanel h1 {
    font-size: 180px;
    font-weight: 200;
    color: #000;
    margin: 0 0 10px 0;
    line-height: 180px;
}
.notfoundpanel h3 {
    color: #333;
    margin: 0 0 10px 0;
}
.notfoundpanel form {
    width: 350px;
    margin: 20px auto 0 auto;
}
.notfoundpanel .form-control {
    width: 250px;
    float: left;
}