.quantity-input {
    width: 32px;
    text-align: center;
}
.center {
    text-align: center;
}
.table-products th, .table-products td {
    vertical-align: middle !important;
    text-align: center;
}
.table-products img {
    width: 150px;
}
.table-products.cart-modal img {
    width: 50px;
}
span.required {
    color: #f00;
}